@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #dadbdb;
  --foreground: #dadbdb;
  --color-primary: #a4aaab;
  --color-impact: #433d38;
  --color-secondary: #7c8686;
  --color-typo: #0b0c0c;

  --font-noto-serif-jp: 'NotoSerifJP', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dadbdb;
    --foreground: #dadbdb;
  }
}

body {
  color: var(--color-typo);
  background: var(--background);
  writing-mode: horizontal-tb;
  font-family: var(--font-noto-serif-jp);
  scroll-behavior: smooth;
}

html {
  font-family: var(--font-noto-serif-jp);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}